footer {
  background-color: #202020;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

footer i {
  color: #a5a4a4;
  padding: 0 10px 0 10px;
}

footer i:hover {
  color: lightsteelblue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #b3aeae;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body::before {
  content: "";
  background-image: url(../img/Copa-America-Brasil-2019.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  z-index: -9;
}

header {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(87, 82, 82, 0.2);
}

header h1 {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.swiper {
  width: 59.375rem;
}

section .card {
  background: #f2f2f2;
  border-radius: 1.25rem;
  margin: 1.25rem 0;
  position: relative;
  border: 1px solid #202020;
  width: 13.75rem;
}

section .card:before {
  content: "";
  position: absolute;
  height: 45%;
  width: 100%;
  background: #3ec1e2;
  border-radius: 1.25rem 1.25rem 0 0;
}

section .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.875rem;
  position: relative;
  z-index: 1;
}

section .card .image {
  height: 8.75rem;
  width: 8.75rem;
  border-radius: 50%;
  padding: 0.1875rem;
  background: #202020;
}

section .card img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 1px solid #202020;
}

section .card .media-icons {
  padding: 10px 0 10px 0;
  position: absolute;
  top: -0.3125rem;
  right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .card .media-icons a {
  opacity: 0.6;
  margin-top: 0.3125rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #202020;
}

section .card .media-icons a:hover {
  opacity: 1;
}

section .card .name-player {
  padding: 0.625rem 0 0.625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #202020;
}

section .card .name-player .name {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  padding: 0 0 0.3125rem 0;
}

section .card .name-player .position {
  font-size: 0.9375rem;
}

section .card .rating {
  color: #F9B208;
}

.btn-card {
  margin: 15px 0 0 0;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  background: #a5a4a4;
  border-radius: 0.3125rem;
}

.btn-card:hover {
  background-color: #b3aeae;
}

.btn-card a {
  text-decoration: none;
  color: #202020;
  letter-spacing: 0.125rem;
}
